/* Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Global CSS */
* {
    font-family: 'Nunito', sans-serif;
    background-color: #212121;
    scroll-behavior: smooth;
}
